//Couleurs
$primary: #113A7F;
$secondary: #618BD1;
$dark: #151515;
$white: #FAFAFA;
/////////////////////////*Commons*//////////////////////////////////
body {
    margin: 0;
    padding: 0;
    background-color: $white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 4.25em;
    line-height: 4.5em;
    font-family: 'Merienda', cursive;
}

h2 {
    font-size: 2.625em;
    line-height: 3em;
    text-align: center;
    color: $primary;
    font-family: 'Merienda', cursive;
}

h2:nth-child(1) {
    border-bottom: 2px solid $primary;
}

h3 {
    font-size: 1.625em;
    line-height: 1.75em;
    color: $primary;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    // border-bottom: 2px solid #113a7f;
    position: relative;
}

// h3::after {
//     content: "";
//     position: absolute;
//     background: #113a7f;
//     height: 10px;
//     width: 50%;
//     top: 44px;
//     left: 0;
//     z-index: -1;
//     -webkit-transition: all 1s ease-in-out;
//     transition: all 1s ease-in-out;
// }
// h3:hover:after {
//     width: 100%;
// }
p {
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

span {
    font-style: italic;
}

.wrapper {
    max-width: 1152px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0;
}

.block-8 {
    padding: 1em 0.75em;
    width: 66%;
}

.block-4 {
    padding: 1em 0.75em;
    width: 33%;
}

.titre-h2 {
    background-color: $primary;
    text-align: center;
    padding: 2em 0;
    width: 100%;
    h2 {
        color: $white;
    }
}

footer {
    background-color: $primary;
    color: $white;
    text-align: center;
    padding: 0.5em;
}

/////////////////////////*Header*//////////////////////////////////
.banner {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .overlay {
        position: absolute;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(21, 21, 21, 0.65);
    }
    h1 {
        color: $white;
    }
}

/////////////////////////*Oeuvres*//////////////////////////////////
.article:nth-child(1) .article-text {
    background-image: url(./img/01.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.article:nth-child(2) .article-text {
    background-image: url(./img/02.png);
    background-position: bottom left;
    background-repeat: no-repeat;
}

.article:nth-child(3) .article-text {
    background-image: url(./img/03.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.article {
    display: flex;
    flex-direction: row;
    .article-text {
        display: flex;
        flex-direction: column;
    }
    .article-img {
        display: flex;
        justify-content: center;
        img {
            object-fit: contain;
            width: 100%;
        }
    }
}

/////////////////////////*Responsif*//////////////////////////////////
@media screen and (max-width: 900px) {
    h1 {
        font-size: 2.25em;
        line-height: 3em;
    }
    h2 {
        font-size: 1.75em;
        line-height: 2em;
    }
    h3 {
        line-height: 1.25em;
    }
    .article {
        flex-direction: column;
        align-items: center;
    }
    .article:nth-child(2) {
        flex-direction: column-reverse;
    }
    .block-8 {
        width: auto;
    }
    .block-4 {
        width: 60%;
    }
    .banner {
        height: 250px;
    }
    .article:nth-child(1) .article-text,
    .article:nth-child(2) .article-text,
    .article:nth-child(3) .article-text {
        background-image: none;
    }
    h2:nth-child(1) {
        border-bottom: none;
    }
}

/////////////////////////*Animation Banner*//////////////////////////////////
.kenburns-top {
    -webkit-animation: kenburns-top 5s ease-in-out reverse both;
    animation: kenburns-top 5s ease-in-out reverse both;
}


/* ----------------------------------------------
 * Generated by Animista on 2021-10-8 10:57:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */

@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}